ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 10px;
  background-color: #dddddd;
}
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 75%;
  transform: translatex(-50%);
}
